<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /itzama
	#RewriteCond %{HTTP_HOST} ^ppublico.com/icontrol [NC]
	#RewriteRule ^(.*)$ http://www.ppublico.com/icontrol/$1 [L,R=301]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !#
	RewriteCond %{REQUEST_URI} !(.*)/$
	#RewriteRule ^(.*)$ http://www.ppublico.com/$1/ [L,R=301]
	RewriteRule ^(.*)$ /itzama/$1/ [L,R=301]

	###############################################################
	######  					Dashboard					 ######
	###############################################################
		RewriteRule ^inicio/$  index.php?mod=index [L]
	###############################################################
	######  					Usuarios					 ######
	###############################################################
	###############################################################
	######  				Sitios de interes				 ######
	###############################################################		
</IfModule>